@import url("./root.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.col-lightblack {
    color: #2D3134;
}

.bg-lightbrown {
    background-color: #FAF8ED;
}

.gap-36 {
    gap: 36px;
}

body {
    background-color: #FAF8ED !important;
}

.h-102 {
    height: 102px;
}

.col-darkblue {
    color: #2E476B;
}

.btn-book {
    border-radius: 27px;
    border: 1.4px solid #F66F4D;
    height: 54px;
    width: 170px;
    background: inherit;
}

.col-orange {
    color: #F66F4D;
}

.cur-pointer {
    cursor: pointer;
}

.gap-72 {
    gap: 72px;
}

.mw-600 {
    max-width: 600px;
}

.pl-72 {
    padding-left: 72px !important;
}

.nav-line {
    position: relative;
}

.nav-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #2E476B;
    left: 0;
    transition: .3s linear;
    border-radius: 2px;
    opacity: 0.8;
}

.nav-line:hover::after {
    width: 100%;
}

.lh-86 {
    line-height: 86px;
}

.col-bluebright {
    color: #5B5F62;
}

.mw-500 {
    max-width: 500px;
}

.mb-75 {
    margin-bottom: 75px;
}

.mw-140 {
    max-width: 140px;
}

.pb-26 {
    padding-bottom: 26px;
}

.big_btn {
    border-radius: 38px;
    background: #FDFEFF;
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
    padding-top: 14px;
    padding-bottom: 14px;
}

.col-blackdk {
    color: #9498A4;
}

.pr-26 {
    padding-right: 26px;
}

.col_line::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    background: #EAEAEB;
    top: 0;
    bottom: 0;
}

.mt-44 {
    margin-top: 44px;
}

.pl-0 {
    padding-left: 0 !important;
}

.mw-370 {
    max-width: 370px;
}

.pb-60 {
    padding-bottom: 60px;
}

.img_box {
    border-radius: 85px;
    opacity: 1;
}

/* .img_box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1;
} */

.pt-18 {
    padding-top: 18px;
}

.circle_arrows {
    border: 1px solid #2D3134;
    width: 54px;
    height: 54px;
    border-radius: 54px;
    background: transparent;
    transition: .3s linear;
}

.circle_arrows:hover {
    background-color: #2D3134;
}

.circle_arrows:hover svg path {
    fill: #FAF8ED;
}

.mw-170 {
    max-width: 170px;
}

.col-white {
    color: #FFFFFF;
}

.absolute {
    position: absolute;
    top: 34%;
}

.col-blackb {
    color: #939597;
}

.wh_box {
    border-radius: 14px;
    background: #FFF;
    width: 140px;
    height: 218px;
}

.absolute_1 {
    position: absolute;
    bottom: 12%;
    left: 0;
}

.object-position {
    object-position: left;
}

.wh_box1 {
    width: 171px;
    height: 92px;
    padding: 20px;
    border-radius: 10px;
    background: #FFF;
}

.wh_box1:hover {
    box-shadow: 10px 14px 60px -3px rgba(174, 165, 115, 0.08);
}

.wh_box:hover {
    box-shadow: 10px 14px 60px -3px rgba(174, 165, 115, 0.08);
}

.pl-16 {
    padding-left: 16px !important;
}

.absolute_2 {
    position: absolute;
    right: 14%;
    bottom: -3%;
}

.ls-4 {
    letter-spacing: 4px;
}

.mw-467 {
    max-width: 467px;
}

.pt-20 {
    padding-top: 20px;
}

.wh_box2 {
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.70);
    padding: 20px;
}

.mw-84 {
    max-width: 84px;
}

.mw-400 {
    max-width: 400px;
}

.lh-66 {
    line-height: 66px;
}

.wh_card {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: #FAF8ED;
    box-shadow: 0px 24px 90px 0px rgba(192, 188, 161, 0.22);
    padding: 12px;
}

.br-16 {
    border-radius: 16px;
}

.mh-252 {
    max-height: 252px;
}

.btn-bn {
    width: 100px;
    height: 37px;
    border-radius: 46px;
    border: 1px solid #2D3134;
    background: transparent;
    transition: .3s linear;
}

.btn-bn:hover {
    background: #2D3134;
    color: #FFF;
}

.pt-24 {
    padding-top: 24px;
}

.icon-circle {
    border-radius: 32px;
    border: 1px solid #5B5F62;
    width: 32px;
    height: 32px;
    transition: .3s linear;
}

.icon-circle:hover {
    border: 1px solid #F66F4D;
}

.icon-circle:hover svg path {
    fill: #F66F4D !important;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.col-blackbr {
    color: #676A6C !important;
}

.search_icon:hover svg path {
    stroke: #F66F4D !important;
    fill: white !important;
}

.search_icon:hover svg rect {
    stroke: #F66F4D !important;
    fill: white !important;
}

.bg-img-spiral {
    background-image: url(../images/webp/bg-spiral.webp);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mw-415 {
    max-width: 415px;
}

.br-30 {
    border-radius: 30px;
}

.pt-75 {
    padding-top: 75px;
}

.email_box {
    max-width: 450px;
    height: 60px;
    border-radius: 12px;
    background: #FFF;
}

input {
    border-radius: 12px !important;
    outline: none !important;
    border: none !important;
    padding-left: 10px;
}

.send_box {
    height: 40px;
    width: 40px;
    background: #F66F4D;
    box-shadow: drop-shadow(0px 5px 14px rgba(247, 103, 67, 0.25));
    border-radius: 12px;
    margin: 10px 10px 10px 0;
}

@media (min-width:992px) {
    .pl-lg-72 {
        padding-left: 72px !important;
    }

    .absolute_1 {
        position: absolute;
        bottom: 12%;
        left: -6%;
    }
}

@media (max-width:992px) {
    .mobile-view {
        position: fixed;
        top: 0;
        left: -100%;
        min-height: 100vh;
        width: 100%;
        background: #FAF8ED;
        transition: .3s linear;
        overflow: hidden;
    }

    .menu_box {
        height: 25px;
        width: 30px;
        background: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .line {
        width: 100%;
        height: 4px;
        background: #2D3134;
        border-radius: 5px;
    }

    .cross .crl-1 {
        transform: rotate(50deg) translate(15px, 14px);
    }

    .cross .crl-2 {
        transform: translateX(-50%);
        opacity: 0;
    }

    .cross .crl-3 {
        transform: rotate(-50deg) translateY(-50%);
    }
}